.wrp01{
    margin-top: 10px;
    font-size: larger;
    a{
        text-decoration: underline;
        color: blue;
    }
}

.wrp02{
    width: 850px;
    margin-left:250px;
    margin-top: 15px;
    font-family: Calibri;
    font-size: 15pt;
    text-align: justify;
    line-height: 1.5;
    span.keyword{
        color:rgb(236, 28, 135);
        font-weight: bolder;
    }
}

.wrp03{
    text-transform:capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:250px;
    ul{
    }
    li{
        list-style-type:lower-alpha;
        margin-top: 10px;
    }
}

