/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Oswald&display=swap'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face{
  font-family: Reaver;
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff") format('woff');
}

@font-face {
  font-family: Radiance;
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.woff") format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* overflow: hidden; */
}

ul{
  display: flex;

  li{
    list-style-type: none;
    font-size: 18px;
    }
}

.footer {
    img{
      width:120px;
    }
}
  
.section_links{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.section_links_title{
  font-weight: 800;
  margin-bottom: 12px;
}


.wrapper-LoginModal{
  div{
    border-radius: inherit;
    border-color: inherit;
  }
  img{
    height: 100%;
  }
}

@keyframes riseUp {
  0%{
    transform: translateY(-4px)
  }
  100%{
    transform: translateY(0)
  }
}


.instruction {

  strong{
    font-size: 16pt;
    color:#f79f1f;
  }

  strong span {
  font-size:14pt;
  color:rgb(225,35,120);
  padding-left: 5px;
  }

  .imgBox{
  width: 50%;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 25px;
  padding: 0;
  }
  
  p{
  font-size: 14pt;
  margin-top: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

#w1,#w2,#w3{
  /* border-style: dashed;
  width: 200px; */
  visibility: hidden;
  position: fixed;
}





