  .root {
    position: relative;
    left: 19px;
    /* top: 10px; */
    width: 342px;
    height: 62px;
    /* align-items: flex-start; */
    /* margin-bottom: 8px; */
    /* margin-top: 0px; */
  }
  .line1 {
    transform-origin: bottom left;
    position: absolute;
    left: 0%;
    right: 0%;
    /* top: 85.2942%; */
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    border-bottom: solid 1px #FFFB82;
    /* margin-bottom: -1px; no effect*/
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .maiHan {
    color: #fff;
    font-size: 22px;
    font-family: 'pacifico';
    position: absolute;
    left: 0%;
    /* right: 71.0526%; */
    top: 0px;
    /* bottom: 60.2941%; */
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .lop1 {
    color: #fff;
    font-size: 18px;
    font-family: 'pacifico';
    position: absolute;
    left: 0%;
    /* right: 71.0526%; */
    /* top: 39.7059%; */
    bottom: 0%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    /* flex-direction: column; */
  }
  ._1 {
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: 'oswald';
    font-weight: bold;
    left: -30px;
    /* right: 97.076%; */
    top: 20.5882%;
    /* bottom: 39.7059%; */

    /* top: 0;
    bottom: 0;
    margin: 0 auto; */

    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .xuatSac {
    position: absolute;
    color: #fff;
    font-size: 26px;
    font-family: 'oswald';
    /* left: 71.7836%; */
    right: 2%;
    top: -5px;
    /* bottom: 39.7059%; */
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  
