 
  .root {
    /* width: 1112px; */
    /* width: 100vmax; */
    width: 100%;
    height: 100%;
    max-height: 100%;
    place-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 5px;
    background-color: #155250;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .divList {
    position: relative;
    width: 387px;
    /* height: 774px; */
    /* place-content: center; */
    align-items: center;
    /* display: flex; */
    gap: 5px;
    /* padding: 10px; */
    background-color: #ffffff29;
    overflow: hidden;
  }
  .pHATTHUONG {
    /* color: #fff; */
    background-image: linear-gradient(180deg, #f713ffff 0%, #fa64ffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }
  .gIAOXUUcMeVoNhiemHonAt {
    color: #FFFB82;
    font-size: 20px;
    /* position: absolute; */
    left: 34px;
    top: 130px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .chuaThanhLinh1 {
    /* position: absolute; */
    left: 150px;
    top: 6px;
    width: 88px;
    height: 114px;
    background-image: url('/logo.png'); /* webpackIgnore: true */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image3 {
    /* position: absolute;
    top: 347px;
    left: 28px; */
    width: 324px;
    height: 243px;
    background-image:url('https://storybrain.azureedge.net/figma-to-html/figma-to-html/5da741e34ccca8afad968ff6ea4cb0117401c222');
    /* webpackIgnore: true; */ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .line1 {
    transform-origin: bottom left;
    position: absolute;
    left: 3.1008%;
    right: 8.5271%;
    top: 77.1318%;
    bottom: 22.739%;
    max-width: 100%;
    max-height: 100%;
    border-bottom: solid 1px #fff;
    margin-bottom: -1px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .divAvatar {
    position: relative;
    width: 668px;
    /* height: 753.9999px; */
    place-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 11px 9px;
    background-color: #fff0;
    overflow: hidden;
  }
  .image2 {
    /* position: absolute; */
    left: 280.5px;
    top: 11px;
    width: 108px;
    height: 106px;
    background-image: url('/logoTNTT.jpg'); 
    /* webpackIgnore: true */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image1 {
    position: absolute;
    left: 9px;
    top: 141px;
    width: 650px;
    height: 602px;
    border-radius: 31px;
    background-image: url('https://storybrain.azureedge.net/figma-to-html/figma-to-html/0b1f32096d12f19cb04b11b2ae7d009cdf98915c');
    /* webpackIgnore: true */ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .TimTen{
    outline: solid 1px #fffb82;
    outline-offset: -1px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0px 2px 1px 0px #fffb82;
    margin-bottom: 10px;
  }


 


  