  .line1 {
    transform-origin: bottom left;
    position: relative;
    left: 15px;
    right: 0%;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    border-bottom: solid 1px #FFFB82;
    /* margin-bottom: -1px; no effect*/
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .maiHan {
    color: #fff;
    font-size: 22px;
    font-family: 'pacifico';

    flex-grow:10;
    flex-direction: column;
  }
  ._1 {
    color: #fff;
    font-size: 20px;
    font-family: 'oswald';
    font-weight: bold;
    flex-direction: column;
  }
  .xuatSac {
    color: #fff;
    font-size: 26px;
    font-family: 'oswald';
    flex-direction: column;
  }

  .pHATTHUONG {
    /* color: #fff; */
    background-image: linear-gradient(180deg, #f713ffff 0%, #fa64ffff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }

  .image2 {
    margin: 10px;
    width: 108px;
    height: 106px;
    background-image: url('/logoTNTT.jpg-rmbg.png'); 
    /* webpackIgnore: true */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .TimTen{
    outline: solid 1px #fffb82;
    outline-offset: -1px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0px 2px 1px 0px #fffb82;
    margin-bottom: 10px;
  }
  
